@model MVCRetailStore.Models.Customer
@{
    ViewData["Title"] = "Customer Details";
}

<h2>Customer Details</h2>

<dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">@Model.customerName</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.customerEmail</dd>
</dl>

<a class="btn btn-primary" asp-action="Edit" asp-route-rowKey="@Model.RowKey" asp-route-partitionKey="@Model.PartitionKey">Edit</a> |
<a asp-action="Index" class="btn btn-secondary">Back to List</a>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
